$primary: #285E67; 
$info: #F4F4F4;    
$rosa: #FCE2D7;    


$font-size: 1.25rem;
$espacio: 2px;
$verde: #285E67;
$negro: #2B2B2B;
$bordes: 30px;
$gris: #F4F4F4;
$font-family: 'Poppins', sans-serif;


$font-custom-title: 65.34px;
$font-custom-paragraph: 20px;

@import "bootstrap/scss/bootstrap";
